<div class="offset1 span6 zone-content">	
  {{ content }}
</div>
<aside id="aside-right" class="aside-column offset1 span3">
  <article class="widget-tag-cloud widget">
     <header>
        <h1>Tag Cloud</h1>
     </header>
     <ul class="tagcloud">
        {% tag_cloud %}
     </ul>
  </article>
  <article class="widget-blogcategories widget">
     <header>
        <h1>Categories</h1>
     </header>
    <ul class="categories-list">
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %} 
    </ul>
  <article>
</aside>
